html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.painel{
    font-size: 200px;
}

/* .meu_container div{
    height: 60px;
} */

.control.sensor-temperatura button{
    font-size: 1.8rem;
    border-radius: 100rem;
    padding:0em;
    padding:.5rem 1rem;
    color:white;
    text-decoration:none;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, blue, red);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.control button{
    background-color: red;
    border-radius: 1rem;
    border: none;
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
    transition: font-size 0.5s;
}
.control > span{
    font-size: 2.5rem;
}

.control button:hover{
    font-size: 2rem;
}

.control.rgb input{
    width: 100px;
    height: 70px;
}

#rgb{
    text-align: right;
    width: auto;
}

#divRgb{
    width: auto;
    text-align: right;
}

.table{
    margin-left: auto;
    margin-right: auto;
}

/* .table th{
    font-size: 1.8rem;
    text-align: end;
}
.table td{
    width: 300px;
    text-align: start;
} */

.table th{
    width: 300px;
    text-align: end;
    font-size: 1.8rem;

}
.table td{
    width: 300px;
    text-align: start;
}

.logs th{
    border: 1px solid;
}

.logs td{
    border: 1px solid;
}

.logs{
    border: 1px solid;
    width: 100%;
}

#logs{
    margin-top: 50px;
}

#filtros-div{
    text-align: start;
}

#tabela{
    margin-top: 20px;
}

#imprimir{
    text-align: center;
}

.titulo-tabela{
    font-size: 30px;
}

#button-imprimir{
    margin-left: 50px;
    border-radius: 100rem;
    padding:0em;
    padding:.5rem 1rem;
    color:white;
    text-decoration:none;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, blue, #2c9fd6);
    background-origin: border-box;
    background-clip: content-box, border-box;
}